# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtuaaliympäristöt
venv/
.venv/
env/

# VS Code
.vscode/

# Ympäristömuuttujat ja salaisuudet
.env

# Tulostiedostot / simulaation ajotulokset
results.csv
experiment_results.csv
summary_final.csv
summary_validation_shared.csv
summary_validation.csv

experiment_results_final.csv
experiment_results_validation_shared.csv
experiment_results_validation.csv
*.log

# Käyttöjärjestelmän tiedostot
.DS_Store
Thumbs.db

