# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtuaaliympäristöt
venv/
.venv/
env/

# VS Code
.vscode/

# Ympäristömuuttujat ja salaisuudet
.env

# Tulostiedostot / simulaation ajotulokset
results.csv
*.log

# Käyttöjärjestelmän tiedostot
.DS_Store
Thumbs.db